{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<main class="container">
    <section id="hero">
        <h2>{{ t['lost_found'] }}</h2>
        <p>{{ t['reunite'] }}</p>

        <div class="test-buttons">
            <button onclick="location.href='{{ url_for('routes.report_item', lang=lang) }}'">
                {{ t['report_item'] }}
            </button>
            <button onclick="location.href='{{ url_for('routes.view_items', lang=lang) }}'">
                {{ t['found_items'] }}
            </button>
            <button onclick="location.href='{{ url_for('routes.chat', lang=lang) }}'">
                {{ t['chat_room'] }}
            </button>
        </div>
    </section>

    <section class="items-display-section" style="background: #bf311a">
        <h2 style="color: #fdb913"><i class="fas fa-box-open"></i> {{ t['recently_reported_item'] }}</h2>
        <div class="item-grid">
            {% for item in recent_items %}
            <div class="item-card {% if item.item_type == 'lost' %}lost-card{% else %}found-card{% endif %}">
                <h3 class="item-title">{{ item.title }}</h3>
                <p><strong>{% if item.item_type == 'lost' %} {{ t['lost_near'] }} {% else %} {{ t['found_near'] }} {% endif %}:</strong> {{
                    item.location }}</p>
                <p><strong>{{ t['description_tr'] }}:</strong> {{ item.description }}</p>
                <p><strong>{{ t['date_tr'] }} {% if item.item_type == 'lost' %}{{ t['lost_tr'] }}{% else %}{{ t['found_tr'] }}{% endif %}:</strong> {{
                    item.date_reported.strftime('%m/%d/%Y') }}</p>
                <a href="{{ url_for('routes.message_user', user_id=item.user_id) }}" class="contact-button">{{ t['contact'] }}</a>
            </div>
            {% endfor %}
        </div>


    </section>


    <section id="about" style="background: #bf311a">
        <h2 style="color: #fdb913">{{ t['find_it'] }}</h2>
        <p style="color: #FFF">{{ t['find_it_description'] }}</p>
    </section>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}